<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let evolution of evolutions$ | async">
                <td>EVO{{evolution.id | number: '3.0-0'}}</td>
                <td>score</td>
                <td><button (click)="delete(evolution.id)">delete</button></td>
            </tr>
        </tbody>
    </table>
    <button (click)="create()">add new</button>
</div>
