table {
  width: 100%;

  tr {
    padding: 0.25rem 0;
    margin: 0 2rem;

    &:not(:hover) button {
      visibility: hidden;
    }

    th {
      text-align: left;
    }

    td:last-child {
      text-align: right;
    }
  }
}
