@import "../../variables";

#menu-list {
  list-style-type: none;
  margin: 2rem 0;
}

.menu-item {
  display: flex;
  justify-content: center;
}

.menu-link {
  width: 50%;
  text-align: center;
  text-decoration: none;
  color: $main-green;
  background-color: $dark-grey;
  padding: 0.5rem 0;
  margin: 0.25rem 0;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  transition: 0.25s;

  &:hover {
    color: $dark-grey;
    background-color: $main-green;
    transition: 0.25s;
  }
}