@import "../../variables";

#game-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#snake-box {

  p {
    text-align: center;
    padding: 5rem 0;
  }

  svg {
    max-height: 50vh;
    border: 1px solid $main-green;
    border-radius: 0.3rem;

    .tail {
      stroke: $main-green;
      fill: none;
      stroke-width: 0.8;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    .head {
      fill: $dark-green;
    }

    .food {
      fill: $red;
    }

  }

}
