<form [formGroup]="snakeSettingsForm" (ngSubmit)="play()">
    <fieldset formGroupName="board">
        <legend>Board</legend>
        <div>
            <label for="width">Width</label>
            <input id="width" type="number" formControlName="width">
        </div>
        <div>
            <label for="height">Height</label>
            <input id="height" type="number" formControlName="height">
        </div>
    </fieldset>
    <fieldset formGroupName="snake">
        <legend>Snake</legend>
        <div>
            <label for="speed">Speed</label>
            <input id="speed" type="number" formControlName="speed">
        </div>
        <div>
            <label for="energy">Energy</label>
            <input id="energy" type="number" formControlName="energy">
        </div>
    </fieldset>
    <div>
        <button [disabled]="!snakeSettingsForm.valid">Play</button>
    </div>
</form>