<section>
    <h2>Messages</h2>
    <div *ngIf="hasMessages(); then nonEmptyList else emptyList"></div>
    <ng-template #nonEmptyList>
        <div class="btns">
            <button class="btn" (click)="toggleSortOrder()"><span>Timestamp </span><i class="material-icons">{{isSortedAscending() ? 'arrow_upward' : 'arrow_downward'}}</i></button>
            <button class="btn" (click)="clearMessages()">Clear</button>
        </div>
        <div id="messages-box" class="inner-box">
            <table>
                <tbody>
                    <tr *ngFor="let message of sortedMessages">
                        <td>{{message.timestamp | date: 'HH:mm:ss:SSS'}}</td>
                        <td>{{message.body}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-template>
    <ng-template #emptyList>
        <p id="empty-placeholder" class="inner-box">No messages</p>
    </ng-template>
</section>
