@import "../../variables";

#messages-placeholder {
  background-color: $dark-grey;
  padding: 0.2rem 0rem;
  border-radius: 0.3rem;
  text-align: center;

}

#messages-box {
  background-color: $dark-grey;
  border-radius: 0.3em;
  max-height: 10rem;
  overflow: scroll;

  table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
  }

  .message-body {
    padding: 0.1rem;
  }

  .message-timestamp {
    padding-right: 1rem;
  }

  tr:nth-child(even) {
    background-color: $darker-grey;
  }
}