@import "../../variables";

section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

#messages-box, #empty-placeholder {
  flex-grow: 1;
}

#messages-box {
  overflow-y: auto;

  table {
    border-collapse: collapse;

    td {
      vertical-align: top;
      padding: 0.1rem;

      &:first-child {
        padding-right: 1rem;
      }

      &:last-child {
        width: 100%;
      }
    }

    tr:nth-child(even) {
      background-color: $darker-grey;
    }
  }
}

#empty-placeholder {
  padding: 0.2rem;
  justify-content: center;
  align-items: center;
}
