$main-grey: #eeeeee;
$dark-grey: darken($main-grey, 10);
$darker-grey: darken($dark-grey, 5);
$darkest-grey: darken($darker-grey, 5);
$main-green: #358814;
$dark-green: darken($main-green, 10);
$red: red;